# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Environment variables
.env

wordle-solver.zip
